<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.kavitha.base" />
	<context:annotation-config />
	
<!-- 	<bean id="car" class = "com.kavitha.base.Car"> -->
<!-- 		<property name="engine" ref="eng  "></property> -->
<!-- 	</bean> -->

<!-- 	<bean id="eng" class="com.kavitha.base.Engine"> -->
<!-- 		<property name="modelNumber" value="2015" /> -->
<!-- 	</bean> -->
</beans>